
.content{
    background-color: rgb(24, 130, 95);
    min-height: 40vh;
    padding: 50px;
    text-align: center;
}
.content h2{
    background-color: cornsilk;
    padding: 20px;
    color: rgb(24, 130, 95);
    min-height: 10vh;
}
.content p{
    background-color: white;
    padding: 20px;
    font-weight: bold;
    min-height: 25vh;
}
button{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    outline-style: none;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}